.bounty {
  padding-bottom: 60px;
  .show-tooltip:hover, a:hover {
    text-decoration: underline;
  }
  a.btn-styles:hover {
    text-decoration: none;
  }
  .title-bounty {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 22px;
    color: #4e5983;
    font-weight: 500;
    padding: 0 15px;
    line-height: 1.2;
  }
  .block-bounty {
    padding: 15px;
    background: $white;
    p {
      margin-top: 15px;
      padding: 0 15px;
      .bonus {
        font-size: 14px;
        text-transform: uppercase;
        color: #4e5983;
        font-weight: 500;
      }
    }

    .block-img {
      img {
        width: 100%;
        height: auto;
      }
    }
    .d-flex {
      margin-top: 30px;
      padding-left: 15px;
      line-height: 1.4;
      .left {
        position: relative;
        p {
          margin-bottom: 13px;
          padding: 0;
        }
        .show-tooltip {
          margin: 0 !important;
        }
        .show-tooltip, a {
          color: #4fa5f7;
          cursor: pointer;
        }
        .tooltip {
          display: none;
          position: absolute;
          background: $white;
          width: 520px;
          padding: 30px;
          box-sizing: content-box;
          bottom: 50px;
          left: 0;
          border-radius: 3px;
          z-index: 2000 !important;
          &.show {
            display: block;
          }
          .conditions {
            position: relative;
            .title {
              font-size: 15px;
              color: #4e5983;
              text-transform: uppercase;
              font-weight: 500;
            }
            .dark {
              color: #4e5983;
            }
            ul {
              li {
                margin-top: 15px;
                text-indent: 15px;
                position: relative;
                color: #969cb0;
                &:before {
                  content: '-';
                  position: absolute;
                  left: -15px;
                }
              }
            }
            .modal-close {
              font-size: 16px;
              color: #4e5983;
              position: absolute;
              top: -15px;
              right: -15px;
            }
            &:before {
              content: '';
              position: absolute;
              left: calc((100% - 26px) / 2);
              bottom: -55px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 13px 13px 0 13px;
              border-color: #fff transparent transparent transparent;
            }
          }
        }
      }
      .btn {
        max-width: 200px;
        width: 100%;
      }
    }
  }


  .remunerations {
    background: $white;
    padding: 25px 40px 40px;
    margin-top: 15px;
    .title-bounty {
      padding: 0;
    }
    p {
      margin-top: 25px;
      line-height: 1.4;
      font-size: 15px;
      a {
        color: $blue3;
      }
    }
  }
}

@media #{$lg} {
  .bounty {
    .block-bounty {
      .btn {
        margin-top: 20px;
      }
    }
  }
}

@media #{$xs} {
  .bounty {
    .block-bounty {
      .justify-content-between {
        flex-direction: column !important;
        align-items: flex-start !important;
      }
    }
  }
}

@media #{$xll} {
  .block-bounty {
    .left {
      .tooltip {
        bottom: 70px !important;
        .conditions:before {
          left: 0 !important;
        }
      }
    }
  }
}

@media #{$md} {
  .block-bounty {
    .left {
      .tooltip {
        bottom: 90px !important;
      }
    }
  }
}

@media #{$sm} {
  .bounty {
    .block-bounty {
      .left {
        .tooltip {
          bottom: 50px !important;
          font-size: 12px;
          width: auto !important;
          ul {
            li {
              margin-top: 8px !important;
            }
          }
        }
      }
    }
    .remunerations {
      padding: 15px;
    }
    .block-bounty {
      padding: 15px;
    }
    .title-bounty {
      padding-left: 0;
    }
    p {
      padding-left: 0 !important;
    }
    .justify-content-between {
      padding-left: 0 !important;
    }
  }
}