@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../font/Rubik/Rubik-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Material-Design-Iconic-Font";
  src:  url("../font/material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff2"),
        url("../font/material-design-iconic-font/fonts/Material-Design-Iconic-Font.eot") format("opentype"),
        url("../font/material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff"),
        url("../font/material-design-iconic-font/fonts/Material-Design-Iconic-Font.svg"),
        url("../font/material-design-iconic-font/fonts/Material-Design-Iconic-Font.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}