body {
  background: $body-bg;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: $grey-font;
}

input:focus, input:active {
  outline: none;
}

button:active, button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
span:focus,
span:active,
button:focus,
button:active {
  outline: none;
}

h1 {
  font-size: 48px;
  color: $dark;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  color: #373770;
  text-transform: uppercase;
  line-height: 1.2;

  &.line {
    position: relative;

    &:before {
      content: '';
      width: 60px;
      height: 1px;
      position: absolute;
      top: -30px;
      left: 0;
      background: $blue3;
    }
  }
}

@media #{$lg} {
  h2 {
    &.line {
      &:before {
        top: -15px;
      }
    }
  }
}

@media #{$md} {
  h2 {
    font-size: 28px;
  }
}

.subheading {
  font-size: 26px;
  color: $dark;
  font-weight: 500;
  padding-left: 30px;
  position: relative;

  &:before {
    content: '';
    height: 100%;
    width: 2px;
    background: $blue3;
    position: absolute;
    left: 0;
  }
}

p {
  color: $blue;
  font-size: 16px;
  line-height: 1.4;
}

.row {
  &.non-offset {
    margin: 0 !important;
  }
}

.container {
  max-width: 1390px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .05);
}


.blocker {
  background-color: rgba(0, 0, 0, .4);
}

.wrapper-bd {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;

  &.offset-two-side {
    padding-top: 160px;
    padding-bottom: 120px;
  }

  &.bd {
    border-right: 1px solid #eaf6fe;
    border-left: 1px solid #eaf6fe;

    &.blue {
      border-right: 1px solid #deeefc;
      border-left: 1px solid #deeefc;
    }
  }

  .block-side {
    position: absolute;
    box-sizing: border-box;
    writing-mode: tb;

    &.bottom {
      &.small-offset {
        &.left-side {
          bottom: 200px;
        }
      }
      &.left-side {
        top: inherit;
        bottom: 400px;
      }

      &.right-side {
        top: inherit;
        bottom: 170px;
      }
    }

    &.left-side {
      left: 0;
      top: 130px;

      .line {
        left: 23px;
      }
    }

    &.right-side {
      right: 0;
      top: 190px;

      .line {
        right: -40px;
      }
    }

    .line {
      position: relative;
      font-size: 16px;
      width: 15px;
      white-space: nowrap;

      &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        top: 15px;
        left: -38px;
        transform: rotate(90deg);
        background: $blue3;
      }
    }
  }
}

@media #{$xll-fix} {
  .wrapper-bd {
    overflow: hidden;
  }
}

@media #{$lg} {
  .wrapper-bd {
    padding: 0;

    &.offset-two-side {
      padding: 90px 0;
    }

    .block-side {
      display: none;
    }
  }
}

@media #{$sm} {
  .wrapper-bd {
    padding: 0;

    &.offset-two-side {
      padding: 60px 0;
    }
  }
}

.wrapper-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  @media #{$sm} {
    padding: 0 15px;
  }
}

.styles-input {
  width: 100%;
  height: 60px;
  padding-left: 29px;
  border: 1px solid #e1eef6;
  background: #f9fcfe;
  font-size: 22px;
  text-transform: uppercase;
  color: $blue;
}

.bg-white {
  background: #fff;
}

.t-upper {
  text-transform: uppercase;
}

.t-bold {
  font-weight: 600;
}

.t-blue {
  color: $blue3;
}

.t-blue4 {
  color: $blue4;
}

.btn-styles {
  width: 100%;
  padding: 20px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: $blue3;
  border: 1px solid $blue3;
  transition: all .3s ease;

  &:hover {
    background: $blue3;
    color: $white;
  }

  &.select {
    background: $blue3;
    color: $white;

    &:hover {
      background: #3e91d6;
    }
  }
&.bd-radius-circle {
  border-radius: 41px;
}
  &.nonactive {
    background: #e1eef6;
    color: #868daa;
    border: none;
    cursor: auto;
  }

  &.standart {
    border-radius: 3px;
    background: #e1eef6;
    color: #868daa;
    font-size: 15px;
    border: none;

    .zmdi {
      padding-right: 10px;
      color: #868daa;
    }
  }
}

.title-main {
  margin: 40px 0 0;
  font-size: 28px;
  color: $blue;
  font-weight: 500;
  @media #{$sm} {
    font-size: 24px;
  }
}

.subtitle {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 17px;
  color: $grey-font;
  @media #{$sm} {
    margin: 20px 0;
  }
}

.tac {
  text-align: center;
}

.blue3 {
  color: $blue3;
}

.medium {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.df {
  display: flex;
  justify-content: space-between;
}

.md-show {
  display: none !important;
  @media #{$md} {
    display: block !important;
  }
}

.md-hide {
  @media #{$md} {
    display: none !important;
  }
}

.lg-show {
  display: none !important;
  @media #{$lg} {
    display: block !important;
  }
}

.lg-hide {
  @media #{$lg} {
    display: none !important;
  }
}

.sm-hide {
  @media #{$sm} {
    display: none !important;
  }
}

.xl-show {
  display: none;
  @media #{$xl} {
    display: block !important;
  }
}

.xl-hide {
  @media #{$xl} {
    display: none !important;
  }
}

.sm-show {
  display: none;
  @media #{$sm} {
    display: inline-block !important;
  }
}

.row-md {
  @media #{$md} {
    display: flex;
    flex-direction: row !important;
  }
}

.flex-xs-column {
  @media #{$xs} {
    flex-direction: column !important;
  }
}

.fdc-lg {
  display: flex;
  align-items: center;
  @media #{$lg} {
    flex-direction: column;
    align-items: flex-start;
  }
}

.blocker {
  z-index: 1999 !important;
}

.overlay-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 120;
  display: none;
}

//STYLES SELECT
.select-filter {
  display: inline-block;
  vertical-align: top;
  max-width: 255px;
  width: 100%;
}

.select-wrap {
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.select-wrap select {
  margin: 20px;
}

.select__gap {
  background: #f9fcfe;
  color: #467797;
  border: 1px solid #e1eef6;
  font-size: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  cursor: pointer;
  position: relative;

  &.on {
    border: 1px solid $blue3;
  }
}

.on.select__gap,
.select__gap:hover {
  color: #467797;
}

.select__list {
  background: #f9fcfe;
  border: 1px solid #e1eef6;
  border-top: none;
  position: absolute;
  color: #000;
  width: 100%;
  margin: 0 0;
  z-index: 143;
}

.select__list.on {
  display: block;
}

.select__item span {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  color: #868daa;
  font-size: 13px;
}

.select__item.selected,
.select__item span:hover {
  color: $blue3;
}

.select__gap:after {
  content: '\f2f9';
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  font-size: 16px;
  color: #868daa;
  right: 15px;
  top: calc((100% - 15px) / 2);
  transition: all .27s ease-in-out;
  transform: rotate(0deg);
}

.on.select__gap:after {
  transform: rotate(180deg);
}

//END STYLES SELECT

//Video styles
#video {
  width: 100%;
  object-fit: cover;
}

#video_holder {
  position: relative;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: $white;
  cursor: pointer;
}

#overlay.o {
  opacity: 0;
}

//End Video styles

//Mobile menu toggle
.mobile-menu-toggle {
  box-sizing: border-box;
  z-index: 200;
  width: 60px;
  height: 60px;
  //HAMBURGER BUTTON
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: $blue3;
    stroke-width: 5;
    stroke-linecap: round;
  }

  .ham-burger {
    .top {
      stroke-dasharray: 40 160;
    }

    .middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }

    .bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }

    &.active {
      .top {
        stroke-dashoffset: -64px;
      }

      .middle {
        transform: rotate(90deg);
      }

      .bottom {
        stroke-dashoffset: -64px;
      }
    }
  }

  //END HAMBURGER BUTTON
}

//End mobile menu toggle

//ALERT NOTIFICATION
.alert-notifications {
  width: 77px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #fff;
  position: fixed;
  top: 114px;
  right: 15px;
  transform: translateX(140%);
  z-index: 2003;

  img {
    height: 28px;
    width: 40px;
  }

  &.alert-show {
    animation: animate 8s ease;
    animation-iteration-count: 1;
  }
}

@keyframes animate {
  from {
    transform: translateX(140%);
    opacity: 1;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
  }
}

//END ALERT NOTIFICATION


//CURRENCY
.one-currency {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1eef6;
  margin: 15px auto 0;
  cursor: pointer;

  &.choose {
    border: 1px solid $blue3;
  }

  img {
    height: 25px;
    width: auto;
    filter: brightness(.3);
  }
}

//END CURRENCY

//SECTION HISTORY
.section-table-information {
  .table-information {
    padding-top: 30px;
    background: $white;
    margin-top: 20px;
    border-radius: 3px;

    .name-table {
      display: flex;
      justify-content: space-between;
      padding: 0 50px 10px;

      p {
        font-size: 12px;
        flex-basis: 25%;
        color: #868daa;
      }
    }

    .table-referral {
      .name-table {
        p {
          &:first-child {
            flex-basis: 10%;
          }
        }
      }

      .row-descr {
        p {
          color: #4e5983;
          text-transform: uppercase;

          &.line {
            font-weight: 500;
            color: $blue3;
            flex-basis: 10%;
          }
        }
      }
    }

    .row-descr {
      display: flex;
      justify-content: space-between;
      padding: 0 50px;
      align-items: center;
      border-bottom: 1px solid #ebf3fb;

      &:last-child {
        border-bottom: none;
      }

      p {
        flex-basis: 25%;
        display: flex;
        align-items: center;
        padding: 20px 0;
        font-size: 13px;
        color: $blue;

        &.tt {
          text-transform: uppercase;
        }

        &.date {
          span {
            color: $blue3;
            padding-right: 10px;

            &.denied {
              color: #ff6f79;
            }
          }
        }

        &.system {
          line-height: 1.3;

          span {
            height: 20px;
            width: 30px;
            min-width: 30px;

            img {
              height: 20px;
              width: auto;
            }
          }
        }

        &.amount {
          text-transform: uppercase;

          span {
            color: #00c3b3;
            padding-right: 8px;

            &.minus {
              color: #ff6f79;
            }
          }
        }

        &.status {
          padding-left: 25px;
          position: relative;

          &:before {
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: calc((100% - 15px) / 2);
          }

          &.confirmed, &.done {
            color: $green;

            &:before {
              background: url(../images/confirmed.png) no-repeat;
            }
          }

          &.pending {
            color: $orange;

            &:before {
              background: url(../images/pending.png) no-repeat;
            }
          }

          &.denied {
            color: #ff6f79;

            &:before {
              background: url(../images/denied.png) no-repeat;
            }
          }

          &.unused {
            color: #868daa;

            &:before {
              background: url(../images/unused.png) no-repeat;
            }
          }
        }
      }
    }
  }

  .pagination {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pages {
      max-width: 320px;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          a {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #868daa;
            font-size: 15px;
            transition: all .2s ease;
          }

          &.active, &:hover {
            a {
              background: $blue3;
              color: $white;
            }
          }
        }
      }
    }

    .arrow {
      cursor: pointer;
      font-size: 16px;
      color: #969cb0;
      width: 50px;
      height: 50px;
      position: relative;
      border-radius: 50%;
      background: $white;
      box-shadow: 0 0 4px rgba(0, 0, 0, .1);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease;

      &:hover {
        background: $blue3;
        color: $white;
      }
    }
  }
}

@media #{$md} {
  .section-table-information {
    .table-information {
      overflow-x: scroll;

      .table {
        min-width: 850px;
      }

      .name-table {
        p {
          flex-basis: 25%;

          &:first-child {
            flex-basis: 20%;
          }

          &:last-child {
            flex-basis: 12%;
          }
        }
      }

      .row-descr {
        p {
          flex-basis: 25%;

          &:first-child {
            flex-basis: 20%;
          }

          &:last-child {
            flex-basis: 12%;
          }
        }
      }
    }
  }
}

@media #{$sm} {
  .section-table-information {
    .table-information {
      .name-table {
        padding: 0 20px;

        p {
          flex-basis: 27.33333%;

          &:last-child {
            flex-basis: 18%;
          }
        }
      }

      .table {
        min-width: 700px !important;

        &.table-referral {
          .name-table {
            p:nth-child(2) {
              flex-basis: 15%;
            }
          }

          .row-descr {
            p:nth-child(2) {
              flex-basis: 15%;
            }
          }
        }
      }

      .row-descr {
        padding: 0 20px;

        p {
          flex-basis: 27.33333%;

          &:last-child {
            flex-basis: 18%;
          }
        }
      }
    }
  }
}

@media #{$xs} {
  .section-table-information {
    .pagination {
      .pages ul li a {
        width: 35px;
        height: 35px;
      }

      .arrow {
        width: 35px;
        height: 35px;
      }
    }
  }
}

//END SECTION HISTORY

//Telegram social
.social-telegram {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 20px;
  border-right: 1px solid #ebf3fb;
  color: #868daa;

  .d-flex:first-child {
    margin-right: 15px;
  }

  .block-img {
    width: 23px;
    height: 23px;
    background: #61a8de;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
  }

  img {
    width: 23px;
    height: 23px;
    margin-right: 3px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0 5px;
    transition: all .2s ease;
    color: $grey-font;

    &:hover {
      color: $dark;
      text-decoration: underline;
    }
  }

  p {
    padding: 0 5px;
    font-size: 10px;
  }
}

//End Telegram social


//Navigation carousel
.owl-styles {
  .owl-stage-outer {
    overflow: hidden;
  }

  .owl-nav {
    position: absolute;
    width: 100%;
    top: calc((100% - 50px) / 2);

    span {
      display: none;
    }

    button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      background: $blue3;
      color: $white;
      font-size: 16px;
      cursor: pointer;
    }

    .owl-prev {
      position: absolute;
      left: -140px;

      &:before {
        content: '\f2ff';
        font-family: 'Material-Design-Iconic-Font';
      }
    }

    .owl-next {
      position: absolute;
      right: -140px;

      &:before {
        content: '\f301';
        font-family: 'Material-Design-Iconic-Font';
      }
    }
  }
}

@media #{$xll} {
  .owl-styles {
    .owl-nav {
      .owl-prev {
        left: -90px;
      }

      .owl-next {
        right: -90px;
      }
    }
  }
}

@media #{$xl} {
  .owl-styles {
    .owl-nav {
      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }
  @media #{$sm} {

    .owl-nav {
      .owl-prev {
        left: 10px;
      }

      .owl-next {
        right: 10px;
      }
    }
  }
}

//End navigation carousel

//Choose language
.choose-language {
  position: relative;
  padding: 0 15px;
  display: flex;
  right: 10px;
  align-items: center;
  cursor: pointer;

  &:hover {
    .zmdi-chevron-down {
      color: $blue3;
    }
  }

  &.open {
    .zmdi-chevron-down {
      transform: rotate(180deg);
    }
  }

  .zmdi-chevron-down {
    transition: all .2s;
  }

  .language {
    display: flex;
    align-items: center;
    padding-right: 15px;

    img {
      width: 30px;
      height: 30px;
      margin-right: 6px;
    }
  }

  .dropdown-language {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .1);
    background: $white;
    padding: 15px;
    width: 128px;
    z-index: 9;

    &:before {
      content: '';
      position: absolute;
      top: -9px;
      left: calc((100% - 18px) / 2);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent #ffffff transparent;

    }

    .language {
      padding-bottom: 5px;
      position: relative;
      color: $blue;

      &:last-child {
        padding-bottom: 0;
      }

      &.soon:before {
        content: 'SOON';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        right: 0;
        font-size: 12px;
        color: #ff6f79;
        width: 100%;
        height: 30px;
        background: rgba(255, 255, 255, .4);
      }
    }
  }
}

//End choose language

//STYLES SWITCHER
.styles-switcher {
  position: relative;
  min-width: 56px;
  height: 26px;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  border-radius: 20px;
  border: 1px solid #d1dee9;
  transition: .5s;

  &:checked {
    background: $blue3;

    &:before {
      left: 30px;
      background: #fff;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 2.3px;
    left: 4px;
    background: #7f87a5;
    transition: .5s;
  }
}

//END STYLES SWITCHER

//STYLES CHECKBOX
.check {
  margin-top: 20px;
  padding-left: 20px;

  label {
    position: relative;
  }

  input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #e1eef6;
    font-size: 14px;
    line-height: 13px;
    margin: -5px 5px 0 0;
    background: #f9fcfe;
    height: 14px;
    width: 14px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    position: absolute;
    left: -20px;
    top: 6px;
  }

  input[type=checkbox]:checked + label:before {
    color: #4e5983;
  }
}

//END STYLES CHECKBOX

.styles-btn-circle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #cae4fd;
  font-size: 15px;
  color: $blue;
  padding: 0 33px 0 5px;
  transition: all .3s ease-in-out;

  &:hover {
    background: $blue3;
    color: $white;

    span {
      background: $white;

      .zmdi {
        color: $blue3;
      }
    }
  }

  span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue3;
    border-radius: 50%;
    margin-right: 20px;
    transition: all .3s ease-in-out;

    .zmdi {
      color: $white;
      transition: all .3s ease-in-out;
    }
  }
}

//Tabs
.tabs {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  .btn-new {
    margin-top: 20px;
    width: 100%;
    margin-right: 13px;
    box-sizing: border-box;
    cursor: pointer;

    &.active, &:hover {
      .styles-btn-circle {
        background: #2fa3fa;
        border: 1px solid #2fa3fa;

        p {
          color: $white;
        }

        span {
          background: $white;

          .zmdi {
            color: #2fa3fa;
          }
        }
      }
    }

    .styles-btn-circle {
      height: 50px;
      color: #868daa;
      font-size: 15px;
      border: 1px solid #dadde5;
      border-radius: 41px;

      p {
        text-align: center;
        width: calc((100% - 60px));
      }

      span {
        width: 40px;
        height: 40px;
        background: #f2f7fc;

        .zmdi {
          color: $blue;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      max-width: 232px;
    }

    &:nth-child(2) {
      max-width: 340px;
    }

    &:nth-child(3) {
      max-width: 254px;
    }

    &:nth-child(4) {
      max-width: 254px;
    }
  }
}

@media #{$md} {
  .tabs {
    flex-wrap: wrap;

    .btn-new {
      max-width: 100% !important;
      flex-basis: calc(50% - 10px);
      margin-top: 10px;
      margin-right: 0 !important;

      &:nth-child(odd) {
        margin-right: 10px !important;
      }

      &:nth-child(even) {
        margin-left: 10px !important;
      }
    }
  }
}

@media #{$xs} {
  .tabs {
    flex-wrap: wrap;
    flex-direction: column;

    .btn-new {
      max-width: 100% !important;
      flex-basis: 100%;
      margin-top: 10px !important;

      &:nth-child(even) {
        margin-left: 0 !important;
      }

      .styles-btn-circle {
        p {
          font-size: 14px;
        }
      }
    }
  }
}