//Breakpoint
$xs: "only screen and (max-width : 576px)";
$sm: "only screen and (max-width : 768px)";
$md: "only screen and (max-width : 992px)";
$lg: "only screen and (max-width : 1200px)";
$xl: "only screen and (max-width : 1400px)";
$xll: "only screen and (max-width : 1680px)";

$body-bg: #f2f7fc;
$white: #ffffff;
$grey-font: #8d93aa;
$grey-font2: #7d84a0;
$grey-font3: #b0b4c3;
$blue: #4e5983;
$blue2: #1f1f5f;
$blue3: #4fa5f7;
$dark: #18185a;
$green: #00c3b3;

