.withdrawal {
  padding-bottom: 30px;
  .withdrawal-from-balance {
    .payment-system {
      border-radius: 3px;
      padding: 15px 20px;
      margin-top: 25px;
      background: $white;
      cursor: pointer;
      transition: all .3s ease;
      &.choose, &:hover {
        background: $blue3;
        .top {
          p {
            color: $blue;
          }
          .img-currency {
            background: #80bef9;
            img {
              filter: contrast(0) brightness(10);
            }
          }
        }
        .bot {
          color: $white;
        }
      }
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          text-transform: uppercase;
          font-weight: 500;
          color: #b0b4c3;
          font-size: 13px;
        }
        .img-currency {
          background: #f2f7fc;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 27px;
            height: 27px;
            filter: brightness(.4);
          }
        }
      }
      .bot {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: $blue;
        p {
          font-size: 15px;
        }
        .currency {
          font-size: 22px;
        }
      }
    }
    .form {
      padding: 40px;
      background: $white;
      margin-top: 15px;
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .styles-input {
          max-width: 607px;
        }
        .btn {
          max-width: 180px;
          width: 100%;
          margin-left: 15px;
        }
      }
    }
  }

  .total-withdrawal {
    background: $white;
    margin-top: 15px;
    padding: 40px 50px;
    .title-main {
      margin: 0;
    }
    .amount {
      color: #373770;
      font-size: 46px;
      text-transform: uppercase;
    }
  }
}

@media #{$md} {
  .withdrawal {

    .total-withdrawal {
      .amount {
        font-size: 28px;
      }
    }
  }
}

@media #{$xs} {
  .withdrawal {
    .withdrawal-from-balance {
      .form {
        padding: 20px;
        form {
          flex-direction: column;
          .btn {
            margin-top: 15px;
            margin-left: 0;
            max-width: 100%;
          }
        }
      }
    }

    .total-withdrawal {
      flex-direction: column;
      align-items: flex-start !important;
      .amount {
        margin-top: 15px;
      }
    }
  }
}